<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <select name="abc" v-model="fruit">
        <option value="1" >苹果</option>
        <option value="2" >栗子</option>
        <option value="3" >榴莲</option>
    </select>
    <h2>{{fruit}}</h2>

    <select name="abc" v-model="fruits" multiple>
        <option value="1" >苹果</option>
        <option value="2" >栗子</option>
        <option value="3" >榴莲</option>
    </select>
    <h2>{{fruits}}</h2>
</div>

<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            message:'你好啊',
            fruit:'',
            fruits:''
        }
    })
</script>
</body>
</html>